<h1>Crear Nuevo Producto</h1>

<form id="idForm">
    <label for="title">Title</label>
    <input type="text" required name="title">
    <label for="description">Description</label>
    <input type="text" required name="description">
    <label for="category">Category</label>
    <input type="text" required name="category">
    <label for="price">Price</label>
    <input type="number" required name="price">
    <label for="stock">Stock</label>
    <input type="number" required name="stock">
    <label for="thumbnail">Thumbnail</label>
    <input type="text" required name="thumbnail">
    <label for="code">Code</label>
    <input type="text" required name="code">
    <label for="id">id</label>
    <input type="number" required name="id" value=1 disabled>
    <label for="status">Status</label>
    <input type="text" required name="status" value="true" disabled>
    <button type="submit" name="submit">Enviar</button>
</form>



<h3>Mostrar listado de productos </h3>
<button type="submit" id="listarProd" name="listarProd">Mostrar Productos</button>

<h1>Productos</h1>

<table id="productsTable" class="styled-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Código</th>
            <th scope="col">Stock</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>